*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(196, 21, 21);

}

.content{
    width: 75%;
    margin: 0 auto;
    padding: 25px;
    background-color: rgb(46, 196, 196);
    color: #fff;
}

.list-unstyled{
    padding: 20px 0;
    border-bottom: 1px solid rgb(180,180,180);
}

.input-group{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input-field{
    width: 85%;
    border: none;
    padding: 5px 5px;
}

.input-button{
    width: 15%;
}

.input-task{
    width: 100%;
    border: none
    /*elemento mancante*/
}

.task-done{
    text-decoration: line-through;
}